
.card-tag {
    color: black;
    text-decoration: none;
}

.card-tag:hover {
    color: gray;
    text-decoration: none;
}

.block-link {
    display: inline-block;
    height: 100%;
    width: 100%;
}
